.he{
  height:fit-content;
  background-color: black;
  width: 100%;
}
.d1{
  height: 50px;

  display: flex;
  gap: 20px;
  align-items: center;
}
.tick{
  display: flex;
}
.tic{
  display: flex;
  position: absolute;
  width: fit-content;
  
  font-family: "Poppins", sans-serif;
  margin-left: 1250px;
  font-weight: bold;
}
.mytic{
  width: fit-content;
  text-decoration: none;
  color: white;
  margin-bottom: 3px;
  margin-top: 4px;
  margin-left: 55px;
  font-family: "Poppins", sans-serif;
}
.tic2{
  display: flex;
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 100px;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  border: 1px solid red;
  background-color: red;
  margin-left: 1500px;
}
.tic2log{
  text-decoration:none;
  height: fit-content;
  margin-top: 5.5px;
  margin-left: 20px;
  color: white; 
  font-weight:bold;
}
.blur1{
  height: 458px;
  width: 448px;
  border-radius: 150px 150px 0 0;
  margin-left: 1400px;
  background-color: #0B542C;
  box-shadow : 0 0 10px 100px #0B542C;
  filter: blur(120px);
  position: absolute;
  z-index:1;
}
.movieshow{
  // cursor: pointer;
  color: white;
    // text-align: center;
    font-size: 46px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    // margin-right: 100px;
}
.movieshow h4{
  text-align: center;
}
// .Fast h3{
//   text-align: center;
//   height: fit-content;
//   width: fit-content;
// }
.movies_inHome2{
  display: flex;
  gap: 50px;
  margin-left:265px;
  cursor: pointer;
}
.image{
  color: white;
  font-family: "Poppins",sans-serif;
  text-align: center;
}
.spdier h3{
  width: fit-content;
  height: fit-content;
}
.image{
  width: 250px;
  height: 508px;
}
.movieshow2_inHome2{
  display: flex;
  gap: 50px;
  margin-left:570px;
  margin-bottom: 30px;
  cursor: pointer;
}
